# pandas Basics

In [1]:
import pandas as pd

## 1. Create DataFrame

In [2]:
data = {
    'Black Coffee': [250, 203, 189, 216, 197], 
    'Latte': [150, 139, 210, 144, 186],
    'Chai Latte': [143, 182, 166, 172, 102],
    'Mocha': [82, 130, 122, 99, 103],
    'Hot Chocolate': [87, 90, 95, 119, 107] 
}
purchases = pd.DataFrame(data, index=['June', 'July', 'August', 'September', 'October'])
purchases

           Black Coffee  Chai Latte  Hot Chocolate  Latte  Mocha
June                250         143             87    150     82
July                203         182             90    139    130
August              189         166             95    210    122
September           216         172            119    144     99
October             197         102            107    186    103

In [3]:
purchases.index

Index(['June', 'July', 'August', 'September', 'October'], dtype='object')

In [4]:
purchases.columns

Index(['Black Coffee', 'Chai Latte', 'Hot Chocolate', 'Latte', 'Mocha'], dtype='object')

In [5]:
purchases['Latte']

June         150
July         139
August       210
September    144
October      186
Name: Latte, dtype: int64

In [6]:
purchases.loc['September']

Black Coffee     216
Chai Latte       172
Hot Chocolate    119
Latte            144
Mocha             99
Name: September, dtype: int64

In [7]:
purchases.iloc[3]

Black Coffee     216
Chai Latte       172
Hot Chocolate    119
Latte            144
Mocha             99
Name: September, dtype: int64

In [8]:
purchases[1:4]

           Black Coffee  Chai Latte  Hot Chocolate  Latte  Mocha
July                203         182             90    139    130
August              189         166             95    210    122
September           216         172            119    144     99

In [9]:
purchases.loc['July':'September']

           Black Coffee  Chai Latte  Hot Chocolate  Latte  Mocha
July                203         182             90    139    130
August              189         166             95    210    122
September           216         172            119    144     99

In [10]:
purchases.iloc[1:4]

           Black Coffee  Chai Latte  Hot Chocolate  Latte  Mocha
July                203         182             90    139    130
August              189         166             95    210    122
September           216         172            119    144     99

In [11]:
purchases.loc[:, 'Black Coffee':'Hot Chocolate']

           Black Coffee  Chai Latte  Hot Chocolate
June                250         143             87
July                203         182             90
August              189         166             95
September           216         172            119
October             197         102            107

In [12]:
purchases.loc['July':'September', 'Black Coffee':'Chai Latte']

           Black Coffee  Chai Latte
July                203         182
August              189         166
September           216         172

In [13]:
purchases.iloc[1:4, 0:2]

           Black Coffee  Chai Latte
July                203         182
August              189         166
September           216         172

In [14]:
purchases[purchases['Black Coffee'] > 200]

           Black Coffee  Chai Latte  Hot Chocolate  Latte  Mocha
June                250         143             87    150     82
July                203         182             90    139    130
September           216         172            119    144     99