In [8]:
import sqlite3

In [9]:
conn = sqlite3.connect('sample.db')
c = conn.cursor()

# Create table
c.execute("CREATE TABLE IF NOT EXISTS users (id integer, name varchar(255), \
          email varchar(255), password varchar(255))")

# Insert rows of data
c.execute("INSERT INTO users VALUES(1, 'Alice', 'alice@sample.com', '123')")
c.execute("INSERT INTO users VALUES(2,'Bob','bob@sample.com', '456')")

# Save (commit) the changes
conn.commit()

# conn.close()

In [14]:
conn = sqlite3.connect('sample.db')
c = conn.cursor()

users = c.execute("SELECT * FROM users")
for user in users:
    print(user)

AttributeError: 'tuple' object has no attribute 'id'